.delete-img {
  width: 14px;
  height: 14px;
}
.del-button {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}
.del-button:hover {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
}
.del-button:active {
  border-width: 0px;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
}
